:root {
    --BBlue: #0a1132; /*zmienna koloru*/
}
body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #000;
    padding: 0;
    margin: 0;
}

/*robi że na podstronie w ktorej jestes dany kafelek bedzie podswietlony*/
#this {
    border-bottom:3px #fff solid;
}

/*Stopka*/
footer {
    margin-top: 2000px;
    color: white;
    padding: 20px 0;
    background-color: var(--BBlue);
    width: 100%;
    height: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}
footer div {
    margin: 20px;
    padding: 20px;
    width: 33%;
    border-left: 1px #fff solid;
}
footer div:first-child {
    border-left: 0px;
}
footer p {
    font-size: 15px;
}
footer h3 {
    font-size: 25px;
    padding-left: 27%;
}
footer p {
    text-decoration-style: solid;
    padding-left: 33%;
}

footer div:last-child {
    padding-top: 100px;
    text-align: center;
    margin-right: 200px;
    margin-left: 0px;
    padding-left: 0px;
}
/*menu*/
ul{
    list-style: none;
}
nav{
    position: fixed;
    margin: auto;
    top: 0;
    left: 40%;
    width: 80%;
}
.menu{
    padding: 0;
    margin: 0;
    position: relative;
}
.menu li{
    margin: 0px 0px 0 0;
    display: inline-block;
}
nav a{
    line-height: 60px;
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    width: 120px;
    text-align: center;
}
.menu li:hover a {
    /*text-decoration: underline; */
}
.menu li:hover {
    border-bottom:3px #fff solid;
}
.menu li:hover ul a {
    text-decoration: none;
}
.menu li ul li:hover a{
    /*text-decoration: underline;*/
}
.menu ul{
    display: none;
    position: absolute;
    top: 100%;
    left: -40px;
}
.menu ul li{
    width: 140px;
    display: list-item;
}
.menu li:hover > ul{
    display: block;
}
.menu ul li:hover {

}
.planetarium ul {
    left:31.7%;
}
.szkola ul {
    left:19.7%;
}


/*ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
}
li a{
    text-decoration: none;
}
li {
    text-align: center;
}
.menu li {
    padding: 10px;
    margin: 0px 5px 0px 0px;
    display: inline-block;
    width: 100px;
    transition: 0.5s;
}
.menu ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 15%;
}
.szkola ul {
    left: 258px;
}
.planetarium ul {
    left: 387px;
}
.menu ul li {
    display: list-item;
}
.szkola ul li {
    display: list-item;
}
nav a {
    color: white;
    line-height: 50px;
}
.menu li:hover + ul {
    display: block;
}
.menu li:hover {

    box-shadow: 0px 0px 10px 1px white;
}
nav {

    top: 0;
    left: 23%;
}
*/
/*czesc dotyczaca przycisku*/
#dogora {
    rotate: -45deg;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 75vh;
    left: 90vw;
    background-color: #333366;
    border-radius: 50%;
    cursor: pointer;
}

#dogora #pa2 {
    position: fixed;
    left: 7px;
    text-align: center;
    top: 5px;
    color: white;
    text-decoration: none;
    font-size: 45px ;
    padding-left: 0px;
}
#dogora:hover  #pa2 {
    transition: 1s;
    top: -50px;
    left: 10px;
    rotate: -45deg;
    font-size: 70px;
}
#dogora:hover  #pa {
    opacity: 1;
    transition: 1s;
}
#gora {
    position: absolute;
    top: 0;
    left:0;
}
#pa {
    opacity: 0;
    color: #fff;
    position: fixed;
    top: 32px;
    left: 2.5px;
    font-size: 22px;
    rotate: 45deg;
}
