:root {
    --BBlue: #2a3152; /*zmienna koloru*/
    --LBlue: #6344a8;
}
* {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body {
    background-image: url("../img/bg.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-color: #332b92;
    padding: 0;
    margin: 0;
}

/*robi że na podstronie w ktorej jestes dany kafelek bedzie podswietlony*/
#this {
    border-bottom: 3px #fff solid;
}

header {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
header img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
/* ---------------- menu ---------------- */

.sticky {  /* do sticky menu na stronie głównej */
  position: fixed;
  top: 0;
}
ul {
    list-style: none;
    background-color: var(--BBlue);
    padding: 0;
}
nav {
    position: fixed;
    margin: auto;
    top: 0;
    width: 100%;
    z-index: 2;
}
ul.menu {
    padding: 0;
    margin: 0;
    position: relative;
    text-align: center;
    font-family: Cochin, Aleo, Aptos, sans-serif;
}
.menu li {
    margin: 0;
    display: inline-block;
    border-bottom: 3px rgba(0,0,0,0) solid;
}

#home img {
    height: 50px;
    width: auto;
    margin-right: 10px;
    vertical-align: middle;
}

#home {
    display: inline-block;
    vertical-align: middle;
}
#home a {
    line-height: 54px;
    padding: 0 10px;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
}

nav a {
    line-height: 54px;
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 1.1em;
    text-decoration: none;
    width: 120px;
    text-align: center;
}
.menu li:hover {
    border-bottom: 3px #fff solid;
    transition: 0.5s;
}
.menu li:hover ul a {
    text-decoration: none;
}
.menu ul {
    display: none;
    position: absolute;
    top: 100%;
}
.menu ul li {
    display: list-item;
}
.menu li:hover > ul {
    display: block;
}
li.szkola > ul li a{
  width: 160px;
}



/* --------------- STOPKA ------------------------*/
footer {
    /* margin-top: 1500px; */
    color: white;
    padding: 20px 0;
    margin: 0;
    background-color: var(--BBlue);
    width: 100%;
    height: 300px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
}
footer div {
    margin: 20px;
    padding: 20px;
    width: 33%;
    border-left: 1px #fff solid;
}
footer div:first-child {
    border-left: 0px;
}
footer p {
    font-size: 15px;
}
footer h3 {
    font-size: 25px;
    padding-left: 27%;
}
footer p {
    text-decoration-style: solid;
    padding-left: 33%;
}

footer div:last-child {
    padding-top: 100px;
    text-align: center;
    margin-right: 200px;
    margin-left: 0px;
    padding-left: 0px;
}

/* ------- PRZYCISK POWROT NA GORE STRONY --------------*/
#dogora {
    rotate: -45deg;
    width: 75px;
    height: 75px;
    position: fixed;
    top: 75vh;
    left: 90vw;
    background-color: #333366;
    border-radius: 50%;
    cursor: pointer;
}

#dogora #pa2 {
    position: fixed;
    left: 7px;
    text-align: center;
    top: 5px;
    color: white;
    text-decoration: none;
    font-size: 45px ;
    padding-left: 0px;
}
#dogora:hover  #pa2 {
    transition: 1s;
    top: -50px;
    left: 10px;
    rotate: -45deg;
    font-size: 70px;
}
#dogora:hover  #pa {
    opacity: 1;
    transition: 2s;
}
#gora {
    position: absolute;
    top: 0;
    left:0;
}
#pa {
    opacity: 0;
    color: #fff;
    position: fixed;
    top: 32px;
    left: 2.5px;
    font-size: 22px;
    rotate: 45deg;
}

/* --------------- SEKCJA GŁÓWNA - CONTENT --------------*/

main {
  width: 80%;
  height: 100%;
  margin: 0;
  background-color: rgba(0,0,0,0.5);
  padding-top: 200px; /* na potrzeby pracy */
  padding-bottom: 200px;
  padding-right: 10%;
  padding-left: 10%;
}

/*  USTAWIENIA DLA PODSTRON */
h1.Kontakt {
  color: #fff;
  padding: 120px 0 50px 0;
  text-align: center;
  letter-spacing: 3px;
  background-color: rgba(0,0,0,0.5);
  margin: 0;
}
main.Kontakt {
  display: flex;
  padding-top: 0;
}
main.Kontakt aside {
  flex-grow: 1;
  height: 700px;
  color: #fff;
  max-width: 30%;
}
main.Kontakt aside img {
  width: 70%;
  height: 70%;
  display: block;
}
main.Kontakt section {
  flex-grow: 5;
  height: 700px;
  display: flex;
}

main.Kontakt section form {
  max-width: 70%;
  max-width: 600px; /* Ustaw maksymalną szerokość formularza */
  margin: 0 auto; /* Wycentruj formularz w sekcji */
  display: block;
  flex-direction: column;
  align-items: center;
}
main.Kontakt section form h2 {
  color: white;
  font-size: 24px;
  margin-bottom: 16px;
}
main.Kontakt section form label {
  color: white;
  margin-bottom: 8px;
}

main.Kontakt section form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.5); /* Dodaj ramkę z przezroczystością */
  padding: 20px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.3); /* Dodaj kolor tła z przezroczystością */
  backdrop-filter: blur(10px); /* Dodaj efekt rozmycia tła */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Dodaj delikatny cień */
}

main.Kontakt section form label {
  color: white;
  margin-bottom: 8px;
  font-size: 110%;
}
/* formularz */
main.Kontakt section form input,
main.Kontakt section form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
  box-sizing: border-box;
}
main.Kontakt section form textarea {
  resize: none;
  height: 200px;
}
main.Kontakt section form input[type="submit"] {
  width: 40%;
  padding: 12px;
  background-color: #6344a8;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

main.Kontakt section form input[type="submit"]:hover {
  background-color: #4c3280;
}
